<h1>Listing link_types</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

<% @link_types.each do |link_type| %>
  <tr>
    <td><%=h link_type.description %></td>
    <td><%= link_to 'Show', link_type %></td>
    <td><%= link_to 'Edit', edit_link_type_path(link_type) %></td>
    <td><%= link_to 'Destroy', link_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New link_type', new_link_type_path %>