<h1>New listing_image</h1>

<% form_for(@listing_image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :listing_id %><br />
    <%= f.text_field :listing_id %>
  </p>
  <p>
    <%= f.label :image_id %><br />
    <%= f.text_field :image_id %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', listing_images_path %>